<div class="panel row display">
	<%= link_to 'Export User Data to CSV', 'export?tablename=User', :target => "_blank" %><br/>
	<%= link_to 'Export Vote Data to CSV', 'export?tablename=Vote', :target => "_blank" %><br/>
	<%= link_to 'Export Survey Data to CSV', 'export?tablename=Survey', :target => "_blank" %><br/>
	<%= link_to 'Export Post Data to CSV', 'export?tablename=Post', :target => "_blank" %><br/>
	<%= link_to 'Export All Data in one CSV', 'export?tablename=All', :target => "_blanks" %>
</div>